body
{
    background:#fff;
    color:#848484;
    font-family: 'Lato', sans-serif;
    padding-left:15px;
    padding-right:15px;
    font-size:14px;
}

a
{
    color:#848484;
}

a:hover
{
    color:#4e4e4e;
    text-decoration:none;
}

.active
{
    color:#bebebe;    
}

.logo
{
    font-size:48px;
    color:#636363;
    font-weight:bold;
    margin-top:20px;
}

.content
{
    max-width:1020px;
}

.content .col
{
    padding:15px;
}

.content .col .menu
{
    list-style:none;
    margin:0;
    padding:0;
    font-size:16px;
}

.content .col .menu li
{
    margin:0;
}

.content hr
{
    border-color:#848484;
    margin:5px 0 15px 0;
}

@media all and (max-width: 1010px) and (min-width: 930px) {
  .articles
    {
        max-width:426px;
    }
}

@media all and (max-width: 930px){
  .articles
    {
        max-width:216px;
    }
}
@media all and (min-width: 1010px){
  .articles
    {
        max-width:636px;
    }
}


.articles
{
    margin:0px auto;
}


.article
{
    float:left;
    margin-bottom:10px;
    opacity:0.8;
    cursor:pointer;
    transition: opacity 0.4s ease;
    position:relative;
    width:212px;
}

.article:hover
{
    opacity:1;
}

.article:hover .article-text
{
    opacity:1;
}

.article-image
{
    width:192px;
    height:142px;
    border:1px solid #bebebe;
    margin:0 auto;
}

.article-image img
{
    visibility:hidden;
}

.article-text
{
    display:block;
    text-align:left;
    padding-top:5px;
    height:40px;
    width:192px;
    margin:0 auto;
    overflow:hidden;
    opacity:0;
    transition: opacity 0.4s ease;
}

.post-text, .about-text
{
    font-size:18px;
    line-height:28px;
    letter-spacing:0.5px;
    word-spacing:2px;
}

.archive-post
{
    margin-bottom:15px;
}

.archive-post a
{
    font-size:18px;    
}

.archive-post span
{
    color:#afafaf;    
}

.footer
{
    max-width:1020px;
    border-top:1px solid #848484;
    text-align:center;
    padding-top:10px;
}
